<header class="sticky-top">
  <!--- Navbar --->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-white" routerLink=""><i class="fa fa-graduation-cap fa-lg mr-2"></i>JobBazar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
        aria-controls="nvbCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active pl-1"><a class="nav-link" *ngIf="!loginService.isUserLoggedIn()"
            routerLink="recruiter"><i class="fa fa-user-plus fa-fw mr-1"></i>Recruiter</a></li>
          <li class="nav-item active pl-1"><a class="nav-link" *ngIf="!loginService.isUserLoggedIn()"
              routerLink="registration"><i class="fa fa-user-plus fa-fw mr-1"></i>Register</a></li>
          <li class="nav-item pl-1"><a class="nav-link" href="about.html"><i
                class="fa fa-th-list fa-fw mr-1"></i>About</a>
          </li>
          <li class="nav-item pl-1"><a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLink="login"><i
                class="fa fa-sign-in fa-fw mr-1"></i>Login</a></li>
          <li class="nav-item pl-1"><a class="nav-link" *ngIf="loginService.isUserLoggedIn()" routerLink="" (click)="logout()"><i
                class="fa fa-sign-in fa-fw mr-1"></i>logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--# Navbar #-->
</header>
<!-- <%
    } else {
%> -->
<!-- <header class="sticky-top">
    <!--- Navbar --->
<!-- <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="/"><i class="fa fa-graduation-cap fa-lg mr-2"></i>JobBazar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1"><a class="nav-link" href="about.html"><i
                                class="fa fa-th-list fa-fw mr-1"></i>About</a>
                    </li>
                    <li class="nav-item pl-1"><a class="nav-link" href="showResumeForm"><i
                                class="fa fa-file-pdf-o fa-fw mr-1"></i>Resume</a>
                    </li>
                    <li class="nav-item pl-1"><a class="nav-link" href="educationForm"><i
                                class="fa fa-graduation-cap fa-fw mr-1"></i>Education</a></li>
                    <li class="nav-item pl-1"><a class="nav-link" href="editProfile"><i
                                class="fa fa-user fa-fw mr-1"></i>Profile</a></li>

                    <li class="nav-item pl-1">
                        <div class="dropdown">
                            <button class=" nav-link dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${username}</button>
                            <div class="dropdown-menu">
                                <a class="nav-link" href="/profile"> <i class="fa fa-user fa-fw mr-1"> </i>Edit Profile
                                </a> <a class="nav-link" href="logout"> <i class="fa fa-sign-out fa-fw mr-1"> </i>Logout
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
<!--# Navbar #-->
<!-- </header> -->
