<section id="post_job">
    <div class="vertical-space-100"></div>
    <div class="container">

        <div class="vertical-space-60"></div>
        <div class="job-post-box">
            <form>
                <div class="form-group">
                    <label for="exampleInputJobtitle">Job title</label>
                    <input type="text" class="form-control" id="exampleInputJobtitle" placeholder="Enter your job title"
                        required />
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="exampleInputCompany">Company</label>
                            <input type="text" class="form-control" id="exampleInputCompany"
                                placeholder="Full name of company" required />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="exampleInputLoction">Loction</label>
                            <input type="text" class="form-control" id="exampleInputLoction"
                                placeholder="Company Address" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group ">
                            <label>Company Logo</label>
                            <div class="box text-center">
                                <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4"
                                    data-multiple-caption="{count} files selected" multiple />
                                <label for="file-5">
                                    <i>
                                        <img src="imags/job-post.png" class="imtges" alt="">
                                    </i>
                                    <span>Drop your file here, or <i class="font-color-orange">Browse</i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Document</label>
                            <div class="box text-center">
                                <input type="file" name="file-7[]" id="file-7" class="inputfile1 inputfile-4"
                                    data-multiple-caption="{count} files selected" multiple />
                                <label for="file-7">
                                    <i>
                                        <img src="imags/job-post.png" class="imtges" alt="">
                                    </i>
                                    <span>Drop your file here, or <i class="font-color-orange">Browse</i></span>
                                </label>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="exampleInputLongDescription">Write Description</label>
                    <textarea class="form-control large" id="exampleInputLongDescription"
                        placeholder="Write short description" rows="3" required></textarea>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-6 col-md-12">
                        <div class="form-group mybtn" id="Job-Nature">
                            <label>Job Nature</label>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <a class="Job-Nature active1">Full Time</a>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <a class="Job-Nature">Part Time</a>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <a class="Job-Nature">Freelancer</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="exampleInputCompany">Salary</label>
                            <input type="text" class="form-control" id="exampleInputCompany"
                                placeholder="Enter Salary Range" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Agree with term and conditions</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input " id="exampleCheck1" required />
                        <label class="form-check-label text-left" for="exampleCheck1">Lorem ipsum tempus amet conubia
                            adipiscing fermentum viverra gravida, mollis suspendisse pretium dictumst inceptos mattis
                            euismod lorem nulla magna duis nostra sodales luctus nulla</label>
                    </div>
                </div>
                <button type="submit" class="btn Post-Job-Offer">Post Job Offer</button>
            </form>
        </div>
    </div>
</section>
<div class="vertical-space-100"></div>