<section id="v2-resent-job-post">
    <div class="vertical-space-50"></div>
    <div class="container text-center">
        <h3 class="text-center">Applications</h3>
        <div class="vertical-space-30"></div>
        <div class="row col-lg-2">
            <a routerLink="/postedjobs" class="btn btn-block btn-outline-primary" id="profile_id">Back</a>
        </div>
        <br>
        <table class="table table-striped" style="font-family: Poppins-Regular;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th colspan="2">Email</th>
                    <th>Applied Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications|async">
                    <td>{{application.jobSeeker.firstName | uppercase}} {{application.jobSeeker.lastName | uppercase}}
                    </td>

                    <td colspan="2">{{application.jobSeeker.users.email}} </td>
                    <td>{{application.appliedDate}} </td>
                    <!-- <td>${tempApplicationList.appliedDate}</td>
						<td>${tempApplicationList.job.name}</td>
						<td>${tempApplicationList.job.employerEmail}</td>
						<td>${tempApplicationList.job.description}</td>
						<td><a href="${deleteLink }" class="btn btn-danger">NotInterested</a></td> -->
                </tr>

            </tbody>
        </table>
    </div>
</section>
<div class="vertical-space-85"></div>